<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey</title>
  </head>
  <body>
    <form action="/result" method="post">
  Your Name: <input type="text" name="name" value=""><br>
  Dojo Location: <select name="dojoloc">
  <option value="SanJose">San Jose</option>
  <option value="Seattle">Seattle</option>
</select><br>
Favorite Language: <select name="language">
  <option value="python">Python</option>
  <option value="ruby">Ruby</option>
</select><br>
Comments: <input type="textarea" name="comment" value="comment">

  <input type="submit" value="Submit">
</form>
  </body>
</html>
